body {
  background-color: white;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.header-container {
  display: flex;
  width: 100vw;
  height: 70px;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: #214042;
}

.homepage-container {
  position: relative;
  text-align: center;
  color: white;
}

.hero-img {
  width: 100%;
  position: relative;
}

.get-started-btn {
  z-index: 1;
  background-color: #214042;
  color: white;
  border-radius: 40px;
  border: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 48px;
  width: 100%;
  max-width: 284px;
}

.form-container {
  display: flex;
  flex-direction: column;
  height: 220vh;
  width: 100vw;
  align-items: center;
  justify-content: flex-start;
}

.allergies {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 80px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 80%;
  justify-content: flex-start;
  align-items: center;
  margin: 10px;
}

input {
  width: 250px;
  height: 30px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  border: 3px #b0acdb solid;
  border-radius: 40px;
  padding: 10px;
  text-align: center;
}

.form-label {
  text-align: center;
  margin: 15px;
  color: #214042;
}

legend.MuiFormLabel-root.skills-box-container {
  padding: 25px;
}

.allergy-checklist {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 375px;
  /* width: 80%; */
  /* background-color: aquamarine; */
  margin: 30px 0 30px 0;
  padding: 20px;
  top: 0;
  bottom: 0;
  border: 4px solid #f7aa1d;
}

.submit-form-btn {
  z-index: 1;
  background-color: #b0acdb;
  color: white;
  border-radius: 40px;
  border: none;
  height: 50px;
  width: 100%;
  max-width: 284px;
  font-size: larger;
  /* margin-top: 20px;
  margin-bottom: 100px; */
}

.allergy-header {
  margin-top: 60px;
}

.allergies-list {
  display: flex;
  flex-direction: column;
  /* width: 80%; */
  overflow-y: scroll;
  margin-top: 20px;
  margin-bottom: 50px;
  padding: 0 20px;
  overflow-y: auto;
  border: 2px solid white;
  height: 390px;
  width: 200px;
  font-size: 1.2em;
}

.recipe-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.recipe-heading {
  margin-bottom: 5%;
  top: 0;
}
